HELP.md
target/
!.mvn/wrapper/
!**/src/main/**/target/
!**/src/test/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
mvnw

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.cmd
*.mvn

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
/test/*/

### VS Code ###
.vscode/

Logger.txt
