#ping_table{
    width: 100%;
    border-radius: 20px;
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

table td, table th {
    border: 3px lightskyblue inset;
}

#service_td{
    width: 250px;
    height: 150px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    border-top-left-radius: 40px;
    background: cornflowerblue;
}

#host_td{
    width: 350px;
    height: 150px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

#port_td{
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

#graphic_td{
    width: 500px;
    height: 150px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    border-bottom-right-radius: 40px;
}

#time_td{
    width: 100px;
    height: 150px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.table_head{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#title_name{
    text-align: center;
}




