<html xmlns:th="http://www.thymeleaf.org" xmlns:background-color="http://www.w3.org/1999/xhtml"
      xmlns:c="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Pinger</title>
    <link th:href="@{/css/ping.css}" rel="stylesheet"/>
    <link th:href="@{/css/TableDesign.css}" rel="stylesheet"/>
    <link th:href="@{/css/status.css}" rel="stylesheet"/>

</head>
<body>
<div id="title_name">
    <h1>Pinger application</h1>
</div>
<div>
    <table id="ping_table" th:border="5px">
        <tr>
            <th class="table_head">Name</th>
            <th class="table_head">Host</th>
            <th class="table_head">Port</th>
            <th class="table_head">Status</th>
            <th class="table_head">Timeout</th>
        </tr>
        <th:block th:each="ports: ${ports}">
            <tr>
                <td id="service_td" th:text="${ports.serviceName}" bgcolor="#6495ed">SERVICE</td>
                <td id="host_td" th:text="${ports.host}">HOST</td>
                <td id="port_td" th:text="${ports.port}">PORT</td>

                <th:block id="status" th:switch="${ports.status.name}">
                    <th:block id="status_up" th:case="UP">
                        <td class="stat" bgcolor="#7cfc00">UP</td>
                    </th:block>
                    <th:block id="status_down" th:case="DOWN">
                        <td class="stat" bgcolor="red">DOWN</td>
                    </th:block>
                    <th:block id="status_off" th:case="OFF">
                        <td class="stat" bgcolor="gray">OFF</td>
                    </th:block>
                </th:block>
<!--                <td id="time_td" th:text="${ports.time}">0.0</td>-->
            </tr>
        </th:block>
    </table>
</div>
<br>
<div>
    <input class="button" type="button" value="Add" onclick="window.location.href='add-service'">
    <input class="button" type="button" value="Delete" onclick="window.location.href='delete-service'">
</div>


<script>
    setTimeout(function () {
        window.location.reload(1);
    }, 10000);
</script>

</body>
</html>